.button {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.button:hover {
  background-color: #cecece;
}

.small {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}

.medium {
  font-size: 1.6rem;
  padding: 0.8rem 1.5rem;
}

.uppercase {
  text-transform: uppercase;
}
