.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  height: 100%;
  border-bottom: 1px solid black;
}

.container .list {
  list-style: none;
  display: flex;
  text-transform: uppercase;
}

.container .listItem {
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}
